.general {
  padding: 48px 90px;
}

.block {
  max-width: 520px;
}

.descr {
  font-family: "Ruberoid";
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #495e4c;
  margin-bottom: 40px;
}

.line {
  width: 148px;
  background-color: #78c081;
  margin-bottom: 20px;
}

.title {
  font-family: "Ruberoid";
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #78c081;
}

.text {
  font-family: "Proxima Nova";
  font-size: 22px;
  line-height: 32px;
  color: #7ca381;
  margin-bottom: 52px;
}

.flex {
  display: flex;
  gap: 12px;
}

.button {
  padding: 32px 126px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.backBtn {
  border-radius: 40px;
  padding: 15px;
  background: rgba(120, 192, 129, 0.25);
}
