.back {
  background-color: rgba(#fff, 0.45);
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
}

.button {
  display: inline-block;
  cursor: pointer;
  background: #5ccd6a;
  box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
