$dark-green: #495e4c;
$green: #78c081;

.header {
  padding: 19px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 196px;
  height: 61px;
}

.title {
  font-size: 22px;
  color: $dark-green;
}

.descr {
  color: $green;
}

.box {
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.04em;
  padding: 19px 42px;
  border-radius: 17px;
}
