$dark-green: #495E4C;
$green: #78C081;

.header {
    padding: 19px 45px;
}

.logo {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 196px;
    height: 61px;
}

.title {
    font-size: 22px;
    color: $dark-green;
    margin: 0;
}

.descr {
    color: $green;
}

.text {
    max-width: 123px;
    padding-top: 15px;
    gap: 3px;
    max-width: 123px;
    padding-top: 15px;
    gap: 3px;
}

.circle {
    position: absolute;
    bottom: 0;
}

.text__box {
    display: flex;
    flex-direction: column;
}