.proxima__700,
.proxima__600,
.proxima__400 {
  font-family: "Proxima";
}

.proxima__700,
.ruberoid__700 {
  font-weight: 700;
}

.proxima__600,
.ruberoid__600 {
  font-weight: 600;
}

.proxima__400 {
  font-weight: 400;
}

.ruberoid__700,
.ruberoid__600,
.ruberoid__500,
.ruberoid__300 {
  font-family: "Ruberoid";
}

.ruberoid__500 {
  font-weight: 500;
}

.ruberoid__300 {
  font-weight: 300;
}
